body{
    background-color: #003459 ;
}
.logo{ 
    width: 30px;
    height: 30px;
}
.sig{
    margin-top: 20px;
    margin-left: 160px;
    border-width: 10px;
    border-color:azure;
}
.dig{
    margin-top: 20px;
    margin-left: 110px;
    border-width: 10px;
    border-color:azure;
}
.big{
    margin-top: 20px;
    margin-left: 160px;
    border-width: 10px;
    border-color:azure;
}